<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/admin.css">
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <title>管理后台</title>
</head>
<body>
<div class="container-fluid login-container">
    <form id="login-form" action="{:Url('login')}" method="post">
        <div class="login-title">登录</div>
        <div class="login-error">{if isset($error)}  {{$error}}  {/if}</div>
        <div class="input-group ">
            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
            <input type="text" id="account" name="username" class="form-control" placeholder="用户名"/>
        </div>
        <div class="input-group">
            <span class="input-group-addon"> <span class="glyphicon glyphicon-lock"></span> </span>
            <input type="text" id="password" name="password" class="form-control" placeholder="密码"/>
        </div>
        <div class="input-group">
            <span class="input-group-addon"> <span class="glyphicon glyphicon-picture"></span> </span>
            <input type="text" class="form-control" id="captcha" name="captcha" placeholder="验证码"/>
            <img src="{:url('/captcha')}" onclick="this.src='{:url(\'/captcha\')}?'+Math.random()"  alt="验证码">
        </div>
        <div class="input-group">
            <button type="submit" class="btn  btn-primary ">登录</button>
        </div>
    </form>
    <div class="footer">
        <div class="footer-wapper">Powered By 大虫 ©2025-2099</div>
    </div>
</div>
</body>
</html>